.home {
  position: relative;
}

.home__title {
  font-weight: 500;
  text-align: center;
}

.assortments__inner {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
}

.assortments__item {
  position: relative;
  width: 33%;
  min-width: 270px;
  margin: 1rem;
  &.discount {
    &:before {
      content: 'Discount';
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 1.1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #ffff00;
      
    }
  }
}
.assortments__card {
  background-color: $lightgray;
  border-radius: 10px;
  border: 1px solid #000;
  
  padding: 1rem;
}

.assortments__title {
  font-weight: 500;
}

.assortments__description {
  text-align: center;
}

.assortments__button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: $tertiary;
  color: #fff;

  &.blocked {
    background-color: #ccc;
    &:hover {
      cursor: auto;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  
  &--arrow {
    fill: #6246ea;
    transform: rotate(90deg);
    margin-left: 1rem;
    margin-top: 0.5rem;
    transition: 0.2s ease;
    &:hover {
      cursor: pointer;
      transform: rotate(270deg);
    }
    &.active {
      &:hover {
        transform: rotate(90deg);
      }
      transform: rotate(270deg);
    }
  }
}